#root {
  margin: 0 auto;
}
* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
html {
  /* min-height: 100%;
  position: relative; */
  height: 100%;
}
body, #root {
  height: 100%;
}
iframe, #videoContainer > * {
  width: 100%;
  height: 100%;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
img, a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}