#root {
  margin: 0 auto;
  --toastify-color-light: #f4f4f5;
  --toastify-color-dark: #27272a;
  --toastify-color-error: #dc2626;
  --toastify-text-color-dark: #f4f4f5;
  --toastify-color-progress-dark: #71717a;
  --toastify-color-progress-error: var(--toastify-color-error);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-font-family: Inter, sans-serif;
}
* {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
html {
  /* min-height: 100%;
  position: relative; */
  height: 100%;
}
body, #root {
  height: 100%;
}
iframe, #videoContainer > * {
  width: 100%;
  height: 100%;
}
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}
img, a {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
#toastWrapper button {
  color: #71717a;
}